**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

Since 2020, how does the number of anti-LGBT laws passed per year and their severity (e.g. number of affected individuals) impact the mental health (e.g. risk of depression, suicide, PTSD) of the general population within each U.S. state? Additionally, is there a differential effect on mental health outcomes across age groups and other demographics, such as socioeconomic status, race, and gender?

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis


- Include your team's hypothesis
- Ensure that this hypothesis is clear to readers
- Explain why you think this will be the outcome (what was your thinking?)

What is your main hypothesis/predictions about what the answer to your question is? Briefly explain your thinking. (2-3 sentences)

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

Erik wrote a function to clean the dataset from being a text file into being a csv. He had to copy and paste and a lot of times, reformat the information because the formatting fell apart a bit in some places. This will allow us to use the function to make tables which have a column specifying which part of the original document the data came from, which will allow us to distinguish different types of laws that have been passed.

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## Dataset #1: Mental Health Data from 2020-2023

In [1]:
import pandas as pd

renamer = {
    'Age1': 'Group Type',
    'Year1': 'Year',
    'Number of People At Possible Risk for Psychotic-Like Episodes': 'Psychotic Episodes',
    'Number of People Identifying as Trauma Survivors': 'Trauma Survivors',
    'Number of People Reporting Frequent Suicidal Ideation': 'Suicidal Ideation',
    'Number of People Scoring Positive for PTSD': 'PTSD',
    'Number of People Scoring with Severe Depression': 'Severe Depression'
}

to_keep = ['State', 'Group Type', 'Year',
           'Psychotic Episodes', 'Trauma Survivors',
           'Suicidal Ideation', 'PTSD',
           'Severe Depression', 'Total Population']

mh2020 = pd.read_csv('data/full_mh_2020.csv')
mh2020 = mh2020.rename(renamer, axis=1)
mh2020 = mh2020[(to_keep)]

mh2021 = pd.read_csv('data/full_mh_2021.csv')
mh2021 = mh2021.rename(renamer, axis=1)
mh2021 = mh2021[(to_keep)]

mh2022 = pd.read_csv('data/full_mh_2022.csv')
mh2022 = mh2022.rename(renamer, axis=1)
mh2022 = mh2022[(to_keep)]

mh2023 = pd.read_csv('data/full_mh_2023.csv')
mh2023 = mh2023.rename(renamer, axis=1)
mh2023 = mh2023[(to_keep)]

combined_20_23 = pd.concat([mh2020, mh2021], axis=0)
combined_20_23 = pd.concat([combined_20_23, mh2022], axis=0)
combined_20_23 = pd.concat([combined_20_23, mh2023], axis=0)
combined_20_23

,State,Group Type,Year,Psychotic Episodes,Trauma Survivors,Suicidal Ideation,PTSD,Severe Depression,Total Population
0,Alabama,All Ages,2020,29.088011,53.235426,45.338408,13.730494,41.945468,5039877
1,Alaska,All Ages,2020,49.544613,98.133820,83.120301,25.386496,70.836512,732673
2,Arizona,All Ages,2020,25.411211,54.244483,47.331644,13.482097,43.895840,7276316
3,Arkansas,All Ages,2020,26.768975,58.197734,40.087366,18.275609,39.029826,3025891
4,California,All Ages,2020,18.698789,42.030860,41.340200,10.408321,37.298183,39237836
...,...,...,...,...,...,...,...,...,...
46,Virginia,All Ages,2023,18.298822,78.941741,41.284630,16.133826,37.507403,8683619
47,Washington,All Ages,2023,21.783286,105.602697,45.017934,18.636526,39.713396,7785786
48,West Virginia,All Ages,2023,26.983544,97.399890,40.954147,23.716226,40.672482,1775156
49,Wisconsin,All Ages,2023,19.668941,86.431333,40.016706,15.680847,35.264934,5892539
50,Wyoming,All Ages,2023,20.124497,102.686534,43.345070,20.640509,42.485049,581381

## Dataset #2: Income Data by State (2022) [Confounding Variable #1]

In [2]:
import pandas as pd

state_names = [
    "Alabama", "Alaska", "Arizona", "Arkansas", 
    "California", "Colorado", "Connecticut", 
    "Delaware", "Florida", "Georgia", "Hawaii", 
    "Idaho", "Illinois", "Indiana", "Iowa", 
    "Kansas", "Kentucky", "Louisiana", "Maine", 
    "Maryland", "Massachusetts", "Michigan", 
    "Minnesota", "Mississippi", "Missouri", 
    "Montana", "Nebraska", "Nevada", "New Hampshire",
    "New Jersey", "New Mexico", "New York",
    "North Carolina", "North Dakota", "Ohio",
    "Oklahoma", "Oregon", "Pennsylvania",
    "Rhode Island", "South Carolina",
    "South Dakota", "Tennessee", "Texas",
    "Utah", "Vermont", "Virginia", "Washington",
    "West Virginia", "Wisconsin", "Wyoming"]
    
def clean_row_name(string):
    string = string.strip()
    string = string.replace('!!', ' ')
    return string

def clean_column_names(columns):
    output = []
    for c in columns:
        c = c.strip()
        c = c.replace('\n', ' ')
        c = c.replace('\t', ' ')
        output.append(c)
    return output

def label_state(string):
    """ Covers cases where state has two words or one"""
    string = string.split()
    opt1 = string[0] + ' ' + string[1]
    opt2 = string[0]
    if opt1 in state_names:
        return opt1
    if opt2 in state_names:
        return opt2

def find_moe(string):
    """ Identify which rows have margin of error information to drop """
    if ("Margin of Error" in string):
        return True
    return False

def to_integer(string):
    """ Converts elements of columns to integer values """
    string = string.strip()
    string = string.replace(',', '')
    string = string.strip()
    return int(string)

def to_float(string):
    """ Converts elements of columns to float values """
    string = string.strip()
    string = string.replace(',', '')
    string = string.replace('%', '')
    string = float(string)
    return string / 100

# Read in data for particular year
income = pd.read_csv("data/povery_state_2022.csv")
income = income.transpose()

# Make first column entries readable
income = income.reset_index()
income['index'] = income['index'].apply(clean_row_name)
income.loc[0, 'index'] = '2022 State Info'

# Create DataFrame header
income = income.set_axis(clean_column_names(income.iloc[0]), axis=1).iloc[1:]

# Drop columns with many missing values
income = income.get(income.columns[:-4])

# Add column to label with state name
income = income.assign(State = income['2022 State Info'].apply(label_state))
income = income[['State'] + list(income.columns.values)[:-1]]

# Drop rows describing margin of error
income = income[~income['2022 State Info'].apply(find_moe)]

# Convert integer valued rows to integers
income['Total'] = income['Total'].apply(to_integer)
income['Median income (dollars)'] = income['Median income (dollars)'].apply(to_integer)
income['Mean income (dollars)'] = income['Mean income (dollars)'].apply(to_integer)

# Convert float valued (percent) rows to proportions
income['Less than $10,000'] = income['Less than $10,000'].apply(to_float)
income['$10,000 to $14,999'] = income['$10,000 to $14,999'].apply(to_float)
income['$15,000 to $24,999'] = income['$15,000 to $24,999'].apply(to_float)
income['$25,000 to $34,999'] = income['$25,000 to $34,999'].apply(to_float)
income['$35,000 to $49,999'] = income['$35,000 to $49,999'].apply(to_float)
income['$50,000 to $74,999'] = income['$50,000 to $74,999'].apply(to_float)
income['$75,000 to $99,999'] = income['$75,000 to $99,999'].apply(to_float)
income['$100,000 to $149,999'] = income['$100,000 to $149,999'].apply(to_float)
income['$150,000 to $199,999'] = income['$150,000 to $199,999'].apply(to_float)
income['$200,000 or more'] = income['$200,000 or more'].apply(to_float)

income

,State,2022 State Info,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
1,Alabama,Alabama Households Estimate,2016448,0.076,0.052,0.093,0.086,0.120,0.167,0.126,0.149,0.064,0.067,59674,82956
3,Alabama,Alabama Families Estimate,1308988,0.044,0.030,0.060,0.069,0.107,0.173,0.144,0.194,0.087,0.092,77668,100785
5,Alabama,Alabama Married-couple families Estimate,941596,0.017,0.011,0.034,0.049,0.084,0.172,0.165,0.236,0.112,0.121,94370,118799
7,Alabama,Alabama Nonfamily households Estimate,707460,0.143,0.098,0.159,0.125,0.145,0.157,0.081,0.057,0.019,0.016,32330,47145
9,Alaska,Alaska Households Estimate,274574,0.044,0.025,0.054,0.053,0.091,0.158,0.132,0.218,0.111,0.114,88121,109524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,West Virginia,West Virginia Nonfamily households Estimate,273277,0.125,0.121,0.171,0.140,0.137,0.143,0.073,0.059,0.013,0.019,31082,48384
393,Wisconsin,Wisconsin Households Estimate,2491121,0.046,0.035,0.070,0.074,0.120,0.181,0.137,0.181,0.080,0.076,70996,94085
395,Wisconsin,Wisconsin Families Estimate,1511105,0.026,0.014,0.036,0.048,0.093,0.176,0.156,0.232,0.113,0.107,91700,114906
397,Wisconsin,Wisconsin Married-couple families Estimate,1171977,0.013,0.007,0.020,0.030,0.071,0.161,0.163,0.266,0.138,0.131,105109,129517
399,Wisconsin,Wisconsin Nonfamily households Estimate,980016,0.084,0.068,0.129,0.121,0.167,0.193,0.104,0.088,0.021,0.024,42812,57892

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |