In [1]:
import pandas as pd

renamer = {
    'Age1': 'Group',
    'Year1': 'Year',
    'Number of People At Possible Risk for Psychotic-Like Episodes': 'Psychotic Episodes',
    'Number of People Identifying as Trauma Survivors': 'Trauma Survivors',
    'Number of People Reporting Frequent Suicidal Ideation': 'Suicidal Ideation',
    'Number of People Scoring Positive for PTSD': 'PTSD',
    'Number of People Scoring with Severe Depression': 'Severe Depression'
}

to_keep = ['State', 'Group', 'Year',
           'Psychotic Episodes', 'Trauma Survivors',
           'Suicidal Ideation', 'PTSD',
           'Severe Depression', 'Total Population']

mh2020 = pd.read_csv('data/full_mh_2020.csv')
mh2020 = mh2020.rename(renamer, axis=1)
mh2020 = mh2020[(to_keep)]

mh2021 = pd.read_csv('data/full_mh_2021.csv')
mh2021 = mh2021.rename(renamer, axis=1)
mh2021 = mh2021[(to_keep)]

mh2022 = pd.read_csv('data/full_mh_2022.csv')
mh2022 = mh2022.rename(renamer, axis=1)
mh2022 = mh2022[(to_keep)]

mh2023 = pd.read_csv('data/full_mh_2023.csv')
mh2023 = mh2023.rename(renamer, axis=1)
mh2023 = mh2023[(to_keep)]

combined_20_23 = pd.concat([mh2020, mh2021], axis=0)
combined_20_23 = pd.concat([combined_20_23, mh2022], axis=0)
combined_20_23 = pd.concat([combined_20_23, mh2023], axis=0)
combined_20_23

,State,Group,Year,Psychotic Episodes,Trauma Survivors,Suicidal Ideation,PTSD,Severe Depression,Total Population
0,Alabama,All Ages,2020,29.088011,53.235426,45.338408,13.730494,41.945468,5039877
1,Alaska,All Ages,2020,49.544613,98.133820,83.120301,25.386496,70.836512,732673
2,Arizona,All Ages,2020,25.411211,54.244483,47.331644,13.482097,43.895840,7276316
3,Arkansas,All Ages,2020,26.768975,58.197734,40.087366,18.275609,39.029826,3025891
4,California,All Ages,2020,18.698789,42.030860,41.340200,10.408321,37.298183,39237836
...,...,...,...,...,...,...,...,...,...
46,Virginia,All Ages,2023,18.298822,78.941741,41.284630,16.133826,37.507403,8683619
47,Washington,All Ages,2023,21.783286,105.602697,45.017934,18.636526,39.713396,7785786
48,West Virginia,All Ages,2023,26.983544,97.399890,40.954147,23.716226,40.672482,1775156
49,Wisconsin,All Ages,2023,19.668941,86.431333,40.016706,15.680847,35.264934,5892539
50,Wyoming,All Ages,2023,20.124497,102.686534,43.345070,20.640509,42.485049,581381

In [35]:
import pandas as pd
import numpy as np


df_2024=pd.read_csv('https://www.aclu.org/wp-json/api/legislation/csv/74348')

df_2023=pd.read_csv('https://www.aclu.org/wp-json/api/legislation/csv/67497')
df_2022=pd.read_csv('https://www.aclu.org/wp-content/uploads/2024/01/legislation-tracker_2022.csv')
df_2021 = pd.read_csv('https://www.aclu.org/wp-content/uploads/2024/01/2021-legislation-tracker_2021.csv')
df_2020 = pd.read_csv('https://www.aclu.org/wp-content/uploads/2024/01/legislation-tracker_2020.csv')

aff_comp_protection = pd.read_csv(r'wrangling work/aff_compprotection', sep = '\t', header = None)
aff_health_care = pd.read_csv(r'wrangling work/aff_health_care', sep = '\t', header = None)
aff_ID_docs = pd.read_csv(r'wrangling work/aff_ID_docs', sep = '\t', header = None)
aff_incomplete_protection = pd.read_csv(r'wrangling work/aff_incomplete_2018', sep = '\t', header = None)
aff_other = pd.read_csv(r'wrangling work/aff_other', sep = '\t', header = None)

anti_adoption = pd.read_csv(r'wrangling work/anti_adoption', sep = '\t', header = None)


anti_FADA_and_religious_exemption=  pd.read_csv(r'wrangling work/anti_FADA_and_religious_exemption', sep = '\t', header = None)
anti_first_amend_def =  pd.read_csv(r'wrangling work/anti_first_amend_def', sep = '\t', header = None)

anti_health_care = pd.read_csv(r'wrangling work/anti_health_care', sep = '\t', header = None)

anti_marriage_rel_exemption =  pd.read_csv(r'wrangling work/anti_marriage_rel_exemption', sep = '\t', header = None)

anti_preempt_local_protection =  pd.read_csv(r'wrangling work/anti_preempt_local_protection', sep = '\t', header = None)

anti_religious_exemption_RFRA =  pd.read_csv(r'wrangling work/anti_religious_exemption_RFRA', sep = '\t', header = None)

anti_school_and_student_org =  pd.read_csv(r'wrangling work/anti_school_and_student_org', sep = '\t', header = None)

anti_single_sex_restrooms = pd.read_csv(r'wrangling work/anti_single_sex_restrooms', sep = '\t', header = None)

other_anti_lgbt = pd.read_csv(r'wrangling work/other_anti_lgbt', sep = '\t', header = None)

other_anti_trans =  pd.read_csv(r'wrangling work/other_anti_trans', sep = '\t', header = None)

other_rel_exemption = pd.read_csv(r'wrangling work/other_rel_exemption', sep = '\t', header = None)
#reading csv from text files that have pre 2020 data

def make_df(tdf, which_type):
    ind = 0
    state=[]
    number = []
    status = []
    for each in tdf[0]:
        if ind % 3 == 0:
            state.append(each)
        elif ind % 3 == 1:
            number.append(each)
        else:
            status.append(each)
        ind += 1
    
    new_df = pd.DataFrame()

    new_df['State'] = state
    new_df['number'] = number
    new_df['status'] = status

    
    dates = []
    statuses = []
    for status in new_df['status']:
        parts = status.split(': ')
        if len(parts) > 1:
            dates.append(parts[0])
            statuses.append(': '.join(parts[1:]))
        else:
            dates.append('')
            statuses.append(parts[0])

    new_df['Date'] = dates
    new_df['status'] = statuses
    new_df = new_df.assign(dtype = which_type)
    
    new_df = new_df.drop(0)

    return new_df
df_list = [aff_comp_protection, aff_health_care, aff_ID_docs, aff_incomplete_protection, aff_other, anti_adoption, 
            anti_FADA_and_religious_exemption, anti_first_amend_def, anti_health_care, anti_marriage_rel_exemption,
            anti_preempt_local_protection, anti_religious_exemption_RFRA, anti_school_and_student_org,
            anti_single_sex_restrooms, other_anti_lgbt, other_anti_trans, other_rel_exemption]
df_names = ['aff_comp_protection', 'aff_health_care', 'aff_ID_docs', 'aff_incomplete_protection', 'aff_other', 'anti_adoption', 
            'anti_FADA_and_religious_exemption', 'anti_first_amend_def', 'anti_health_care', 'anti_marriage_rel_exemption',
            'anti_preempt_local_protection', 'anti_religious_exemption_RFRA', 'anti_school_and_student_org',
            'anti_single_sex_restrooms', 'other_anti_lgbt', 'other_anti_trans', 'other_rel_exemption']
for each, name in zip(df_list, df_names):
    
    try:
        each = make_df(each, name)
        
    except:
        print(name)
        
#identifies which ones are messed up 

dfs = {}

# Loop through each element in the list
for each, name in zip(df_list, df_names):
    # Generate DataFrame for the current element
    new_df = make_df(each, name)
    
    # Store the DataFrame in the dictionary with element as key
    dfs[name] = new_df
    
combined_df = pd.concat(dfs.values(), ignore_index=True)

combined_df = combined_df[combined_df['State'] != 'State'] #remove invalid rows
#this is the combined df of all the ones we had to pull from text data. Further cleaning will involve combining all
website_csv= [df_2024, df_2022, df_2023, df_2021, df_2020]
combined_web = pd.concat(website_csv)
combined_web = combined_web.dropna(how='all')
combined_web = combined_web.reset_index()
#later wrangling will involve proper concatination of rows, this was just to give an overall view

In [11]:
combined_web

,index,State,Bill Name,Issues,Status,Status Detail,Status Date,In Court Link,Status,Status Date,legislation-tracker_2020
0,0,Mississippi,H.B. 1428,Public Accommodation Bans | Re-definition of s...,Advancing,Double referred to committee,02/28/2024,NaN,NaN,NaN,NaN
1,1,Oklahoma,S.B.1530,Re-definition of sex | Weakening Civil Rights ...,Advancing,Reported favorably by committee; CR filed,02/29/2024,NaN,NaN,NaN,NaN
2,2,Wyoming,S.F.0098,Healthcare Restrictions | Other healthcare bar...,Advancing,Senate passed; House received,02/28/2024,NaN,NaN,NaN,NaN
3,3,Wyoming,S.F.0099,Healthcare age restrictions | Healthcare Restr...,Advancing,Senate passed; House referred to committee,02/29/2024,NaN,NaN,NaN,NaN
4,4,Wyoming,S.F.0094,Other anti-LGBTQ bills,Advancing,Senate passed; House received,02/28/2024,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1453,201,New York,S 4402,LGBTQ Equality Bills | Allowing updated gender...,Introduced,Signed by Governor,06/25/2021,NaN,NaN,NaN,NaN
1454,202,Illinois,HB 9,LGBTQ Equality Bills | Allowing updated gender...,Introduced,Referred to committee,07/16/2021,NaN,NaN,NaN,NaN
1455,203,Massachusetts,HB 153,LGBTQ Equality Bills | Allowing updated gender...,Introduced,Concurred in Senate,03/29/2021,NaN,NaN,NaN,NaN
1456,510,Data is current as of December 21 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,"(State, Bill Name, Issues, Status, Status Deta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,In Court Link

In [39]:
combined_web = combined_web.drop(index = [1457, 1456])

In [23]:
state_mapping = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina',
    'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}

In [43]:
combined_web['State'] = combined_web['State'].str.strip()
combined_web['State'] = combined_web['State'].replace(state_mapping)
combined_web['State'] = combined_web['State'].replace('New England', 'Nebraska')
#whoever made this csv initially confused them for some reason? ig NE looks like new england

In [44]:
combined_web['State'].unique()

array(['Mississippi', 'Oklahoma', 'Wyoming', 'West Virginia', 'Utah',
       'Tennessee', 'New Hampshire', 'Missouri', 'Kentucky', 'Idaho',
       'Florida', 'Alaska', 'Iowa', 'Georgia', 'Arizona', 'Alabama',
       'Rhode Island', 'South Carolina', 'Louisiana', 'Kansas', 'Oregon',
       'Minnesota', 'Wisconsin', 'Virginia', 'Maryland', 'South Dakota',
       'Nebraska', 'Hawaii', 'Illinois', 'Pennsylvania', 'Ohio',
       'New Mexico', 'New Jersey', 'Indiana', 'Washington', 'Puerto Rico',
       'Vermont', 'Michigan', 'Massachusetts', 'Maine', 'North Carolina',
       'Delaware', 'New York', 'California', 'Texas', 'Arkansas',
       'Nevada', 'Montana', 'North Dakota', 'Colorado', 'Connecticut'],
      dtype=object)

In [42]:
combined_web = combined_web[combined_web['State'] != 'Data is current as of December 21 2023']
combined_web = combined_web[combined_web['State'] != 'Data is current as of March 1 2024']

In [37]:
combined_web['State'].unique()

array(['Mississippi', 'Oklahoma', 'Wyoming', 'West Virginia', 'Utah',
       'Tennessee', 'New Hampshire', 'Missouri', 'Kentucky', 'Idaho',
       'Florida', 'Alaska', 'Iowa', 'Georgia', 'Arizona', 'Alabama',
       'Rhode Island', 'South Carolina', 'Louisiana', 'Kansas', 'Oregon',
       'Minnesota', 'Wisconsin', 'Virginia', 'Maryland', 'South Dakota',
       'Nebraska', 'Hawaii', 'Illinois', 'Pennsylvania', 'Ohio',
       'New Mexico', 'New Jersey', 'Indiana', 'Washington', 'Puerto Rico',
       'Vermont', 'Michigan', 'Massachusetts', 'Maine', 'North Carolina',
       'Data is current as of March 1 2024 ', 'AL ', 'AL', 'AZ', 'FL',
       'GA', 'IA', 'ID', 'IN', 'KS', 'KY', 'KY ', 'LA', 'MI', 'MO', 'MS',
       'NC ', 'NJ', 'NH', 'OH ', 'OH', 'OK', 'SC', 'TN ', 'TN', 'UT',
       'WI', 'WI ', 'WV', 'MN', 'OK ', 'SD ', 'VA', 'AK', 'DE', 'GA ',
       'HI', 'MD', 'PA', 'RI', 'SD', 'VA ', 'WY', 'IL', 'NC', 'MA', 'NE',
       'VT', 'WA', 'NY', 'CA', 'OR',
       'Data is current as of December 21 2023', 'Texas', 'Arkansas',
       'Nevada', 'Montana', 'California', 'North Dakota', 'Colorado',
       'Connecticut', 'Data is current as of December 21 2023 ',
       'Alabama ', 'Arkansas ', 'Arizona ', 'Florida ', 'Georgia ',
       'Iowa ', 'Indiana ', 'Kansas ', 'Kentucky ', 'Missouri ',
       'Mississippi ', 'Montana ', 'North Carolina ', 'Ohio ',
       'Oklahoma ', 'South Carolina ', 'Tennessee ', 'Texas ',
       'West Virginia ', 'Connecticut ', 'Hawaii ', 'Minnesota ',
       'North Dakota ', 'New Jersey ', 'New Mexico ', 'New England ',
       'Pennsylvania ', 'South Dakota ', 'Wisconsin ', 'Wyoming ',
       'Maryland ', 'Alaska ', 'Idaho ', 'Washington ', 'California ',
       'New York', 'Illinois ', 'Massachusetts ', nan], dtype=object)

In [45]:
combined_web[combined_web['State'] =='New England']

Empty DataFrame
Columns: [index, State, Bill Name, Issues, Status, Status Detail, Status Date, In Court Link, Status , Status Date , legislation-tracker_2020]
Index: []